html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding-top: 60px; 
    display: flex;
    font-family: Arial, sans-serif;
    background-image: url("assets/images/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* Header styling */
.header {
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007BC7; 
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    padding: 0 10px; 
}

.logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    text-align: left;
}

.user-info {
    display: flex;
    align-items: center;
}

.plane-icon {
    width: 30px;
    height: 30px;
    background-image: url("assets/images/plane.png"); 
    background-size: cover;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}

.notificationsIcon {
    position: relative; 
    display: inline-block; 
}

/* Add animation to the plane icon */
@keyframes bounce {
    0% {
        transform: translate(10px, 10px); 
    }
    100% {
        transform: translate(-10px, -10px); 
    }
}

.plane-icon.animate {
    animation: bounce 0.5s ease; 
}


.notification-circle {
    position: absolute;
    top: -5px; 
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}





/* Notification Dropdown */
.dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 50%;
    max-width: 350px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: min(400px, 80vh);;
    overflow-y: auto;
    padding: 10px;
    z-index: 10;
}

.notifications:hover .dropdown {
    display: block;
}

.notifications.no-hover:hover .dropdown {
    display: none;
}


/* Profile Dropdown */
.dropdown2 {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 120px; 
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    z-index: 10;
    color: black; 
    font-size: 14px; 
}

.profile:hover .dropdown2 {
    display: block; 
    right: auto; 
}

.dropdown2 div:hover {
    border-radius: 1.1vh;
    transition: background-color 0.3s;
    background-color: #eaf4ff;
    cursor: pointer; 
}



/* Message Box Styling */
.message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.message:hover {
    background-color: #eaf4ff;
}

.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.message .message-content {
    display: flex;
    flex-direction: column;
}

.message .user-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.message .message-text {
    padding: 8px;
    border-radius: 5px;
    max-width: 220px;
    word-wrap: break-word;
}

.notifications {
    margin-right: 20px;
}

.profile {
    display: flex;
    align-items: center; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin-right: 25px; 
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("assets/images/gameModelRender.png");
    background-size: cover;
    margin-right: 10px;
}

.avatar2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("assets/images/pohoda.png");
    background-size: cover;
    margin-right: 10px;
}


.avatar3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("assets/images/sherlock.jpg");
    background-size: cover;
    margin-right: 10px;
}

.avatar4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("assets/images/cat.jpg");
    background-size: cover;
    margin-right: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile:hover .dropdown, .notifications:hover .dropdown {
    display: block;
}

/* Side Panel */
.side-panel {
    width: 200px;
    height: 100vh;
    background-color: #015396; 
    color: white;
    position: fixed;
    top: 60px; 
    left: 0;
    transition: transform 0.3s ease-in-out;
    padding: 20px; 
}

.side-panel.hidden {
    transform: translateX(-100%);
}

.side-panel ul {
    list-style-type: none;
    padding: 0;
}

.side-panel li:hover {
    transform: scale(1.1); 
    font-size: 20px; 
    color: #eaf4ff; 
}

.side-panel li {
    margin: 15px 0;
}

.side-panel a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    display: block;
    padding: 10px; 
}
.side-panel b {
    font-weight: bold;
}




/* Main content style */
.main-content {
    flex-grow: 1;
    margin-left: 230px; 
    padding: 20px;

}

.side-panel.hidden + .main-content {
    margin-left: 0;
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    margin-left: 0; 
}

.table-container {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.edit-btn, .delete-btn {
    width: 25px;
    height: 25px;
    background-color: #007BC7;
    border-radius: 1.1vh;
    border: none;
    cursor: pointer;
    background-size: 60%; 
    background-position: center;
    background-repeat: no-repeat;
}

.edit-btn:disabled, .delete-btn:disabled {
    background-color: #eaf4ff; 
    cursor: not-allowed; 
    pointer-events: none;

}

.edit-btn:hover, .delete-btn:hover {
    background-color: #003E80;
}

.edit-btn {
    background-image: url("assets/images/edit.png");
}

.delete-btn {
    background-image: url("assets/images/delete.png");
}

/* Table */
table {
    width: 100%;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #bfdcfd;
    border-collapse: separate;
    /*overflow: hidden;*/
}

thead tr:first-child td:first-child {
    border-top-left-radius: 1.5vh;
}

thead tr:first-child td:last-child {
    border-top-right-radius: 1.5vh;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1.5vh;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1.5vh;
}

.select {
    font-size: 0; 
}

.select input {
    font-size: 16px; 
}

.plus-button {
    position: absolute; 
    top: 100px; 
    right: 20px; 
    padding: 0; 
    background-color: #007BC7;
    border-radius: 1.2vh;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 40px; 
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.plus-button:hover {
    background-color: #003E80;
}

.status-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.green-status {
    background-color: rgb(167, 255, 99);
}

.grey-status {
    background-color: rgb(120, 120, 120);
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #bfdcfd;
    border-radius: 1.1vh;
    background-color: #fff;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #f4f4f4;
}


.Delmodal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

/* Delete Modal Box */
.Delmodal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}


.Delmodal-header h3 {
    margin: 0;
    font-size: 20px;
    position: relative;
}

.Delmodal-header {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.Delmodal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.delete-cancel-btn, .delete-confirm-btn{
    background: #007BC7;
    border-radius: 1.2vh;
    color: white;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.delete-cancel-btn:hover, .delete-confirm-btn:hover{
    background: #003E80;
}

.Delclose-btn{
    position: absolute;
    right: 10px;
    background: #007BC7;
    border-radius: 1.2vh;
    color: white;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.Delclose-btn:hover{
    background: #003E80;
}


.modal-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #007BC7;
    border-radius: 1.2vh;
    color: white;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.close-btn:hover{
    background: #003E80;
}

.cancel-btn, .create-btn{
    background: #007BC7;
    border-radius: 1.2vh;
    color: white;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
    margin: 10px;
}

.cancel-btn:hover, .create-btn:hover{
    background: #003E80;
}


/* Modal Background */
.modal-body {
    display: flex;
    flex-direction: column;
    margin: 15px; 
}

.modal-body div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px; 
}

.modal-body label {
    min-width: 100px; 
    text-align: left;
}

.modal-body input,
.modal-body select {
    flex-grow: 1; 
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding-top: 20px;
}

